<button type="button" class="btn btn-secondary" onclick="document.getElementById('modal-login').style.display='block'">Se connecter</button>
<button type="button" class="btn btn-secondary" onclick="document.getElementById('modal-register').style.display='block'">S'inscrire</button>