<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {%  block title %}{% endblock %}
    </title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" />
    <link rel="stylesheet" href="css/style.css">
    <script src="js/select2.js"></script>

</head>
<body>
{% block header %}
    {% include 'partialViews/header.html.twig' %}
{% endblock %}

<div class="btn-group-horizontal headerbuttons">
    {% include 'partialViews/loginButtons.html.twig' %}
    {% include 'partialViews/logoutButtons.html.twig' %}
</div>
<div class="container-fluid">
    <div class="row">
        <div class="lateral col-lg-2">
        </div>
        <div class="mx-auto col-lg-8 main-div">

            <div>
                {% block contents %}{%  endblock %}
            </div>
        </div>
        <div class="lateral col-lg-2">
        </div>
    </div>
</div>
<footer>
    {{ now | date('d/m/Y H:i:s') }} ; {% block footer %}{%  endblock %}
</footer>
</body>
</html>