{%  extends "baseLayout.html.twig" %}

{% block contents %}
    <form id="modal-add" class="modal-content" action="#" method="post">
        <!-- Titre et croix -->
        <div class="modal-header justify-content-center">
            <h5 class="modal-title">Nouvelle piste</h5>
        </div>
        <!-- Image, inputs et boutons -->
        <div class="modal-body">
            <input type="hidden" name="updateid" value="{{ track.id }}">
            <div class="form-group">
                <label for="title"><b>Titre *</b></label>
                <input type="text" placeholder="Titre de la piste" name="title" value="{{ track.title }}" required>
                <p class="text-danger">{{ errors["trackTitle"] }}</p>
            </div>

            <div class="form-group">
                <label for="artists"><b>Artistes *</b></label>
                <div id="artists-container" class="input-group">
                    <select class="select2-multiple artist-multiple" name="artists" id="artists" multiple>
                        {% for artist in artists %}
                            <option value="{{ artist.id }}">{{ artist.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <p class="text-danger">{{ errors["trackArtists"] }}</p>
            </div>

            <div class="form-group">
                <label for="release"><b>Date de sortie</b></label>
                <input type="date" name="release" value="{{ track.releaseDate }}" required>
                <p class="text-danger">{{ errors["trackRelease"] }}</p>
            </div>

            <div class="form-group">
                <label for="genre"><b>Genre</b></label>
                <input type="text" placeholder="Genre de la piste" name="genre" value="{{ track.genre }}">
                <p class="text-danger">{{ errors["trackGenre"] }}</p>
            </div>

            <div class="form-group">
                <label for="tags"><b>Tags</b></label>
                <input type="text" placeholder="Tags associés à la piste" name="tags" value="{{ track.getTags() }}">
                <p class="text-danger">{{ errors["trackTags"] }}</p>
            </div>

            <button class="btn btn-primary" type="submit" name="submit">Valider</button>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
            <button class="btn btn-outline-danger btn-sm" type="button" onclick="document.getElementById('modal-update').style.display='none'">Annuler</button>
        </div>
    </form>
{%  endblock %}