{%  extends "baseLayout.html.twig" %}

{% block contents %}
    <div id="loggedbuttons" class="d-flex align-items-center">
        <div><h4>Filtres :</h4></div>
        <div class="btn-group-horizontal">
            <a href="{{ path("track", "add", {}) }}"><button type="button" class="btn btn-secondary">Ajouter une piste musicale</button></a>
        </div>
    </div>
    <form action="#" method="post">
        <div>
            <label for="datedebut">Date de sortie comprise entre :</label>
            <input class="form-control-sm" type="date" name="startdate" value="<?php if(isset($_POST['startdate'])) echo $_POST['startdate']?>">
            <label for="datefin"> et </label>
            <input class="form-control-sm" type="date" name="enddate" value="<?php if(isset($_POST['enddate'])) echo $_POST['enddate']?>">
        </div>
        <div class="input-group mb-2">
            <input class="form-control form-control-sm tags-input" type="text" name="filtertags" placeholder="Tags, séparés par ';'" value="{#{% if(isset($_POST['filtertags'])) echo $_POST['filtertags'] %}#}">
            <input class="btn btn-secondary btn-sm input-group-append" type="submit" value="Filtrer par tags">
        </div>
    </form>
    <table class="table table-hover">
        <tr class="table-primary">
            <th></th>
            <th scope="col">Titre</th>
            <th scope="col">Artistes</th>
            <th scope="col">Date de sortie</th>
            <th scope="col">Genre</th>
            <th scope="col">Tags</th>
        </tr>
        {# @var track \Library\Models\Track #}
        {% for track in tracks %}
            <tr class='{{ cycle(['table-secondary', 'table-dark'], loop.index0) }}'>
                <td>
                    <div class="btn-group" role="group">
                        <form action="{{ path("track", "update", {id: track.id}) }}" method="post">
                            <input type="hidden" name="updateid" value="{{ track.id }}">
                            <input type="image" src="img/icons8-edit-50.png" style="width:15px;height:15px;margin-right:10px;" alt="update">
                        </form>
                        <form action="{{ path("track", "delete", {id: track.id}) }}" method="post">
                            <input type="hidden" name="deleteid" value="{{ track.id }}">
                            <input type="image" src="img/icons8-trash-can-50.png" style="width:15px;height:15px;" alt="delete">
                        </form>
                    </div>
                </td>
                <td>{{ track.title }}</td>
                <td>a{% for ta in track.trackArtists %}
                    {{ ta.artist }}
                {% endfor %}b</td>
                <td>{{ track.releaseDate }}</td>
                <td>{{ track.genre }}</td>
                <td>{{ track.getTags() }}</td>
            </tr>
        {% endfor %}
    </table>
{%  endblock %}